In [8]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\dharmi shah\anaconda3\lib\site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\dharmi shah\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [3]:
import pyspark

In [20]:
import pandas as pd
type(pd.read_csv('test.csv'))

pandas.core.frame.DataFrame

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Dharmi').getOrCreate()

In [7]:
spark

In [11]:
df_pyspark=spark.read.csv('test.csv')

In [23]:
df_pyspark=spark.read.option('header','true').csv('test.csv')

In [24]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [25]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [14]:
## Read the dataset
df_pyspark=spark.read.option('header','true').csv('test.csv',inferSchema=True)

In [15]:
## Check schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [17]:
df_pyspark=spark.read.csv('test.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Dharmi| 24|        10|
|  vinit| 26|         8|
|   deep| 28|         5|
|Vinayak| 29|         2|
+-------+---+----------+

In [18]:
## Check schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.head(4)

[Row(Name='Dharmi', Age=24, Experience=10),
 Row(Name='vinit', Age=26, Experience=8),
 Row(Name='deep', Age=28, Experience=5),
 Row(Name='Vinayak', Age=29, Experience=2)]

In [22]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Dharmi| 24|        10|
|  vinit| 26|         8|
|   deep| 28|         5|
|Vinayak| 29|         2|
+-------+---+----------+

In [25]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [27]:
df_pyspark.select('Name','Age').show()

+-------+---+
|   Name|Age|
+-------+---+
| Dharmi| 24|
|  vinit| 26|
|   deep| 28|
|Vinayak| 29|
+-------+---+

In [28]:
df_pyspark['Name']

Column<'Name'>

In [29]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [31]:
df_pyspark.describe().show()

+-------+------+-----------------+----------+
|summary|  Name|              Age|Experience|
+-------+------+-----------------+----------+
|  count|     4|                4|         4|
|   mean|  null|            26.75|      6.25|
| stddev|  null|2.217355782608345|       3.5|
|    min|Dharmi|               24|         2|
|    max| vinit|               29|        10|
+-------+------+-----------------+----------+

In [34]:
##Adding columns in dataframe
df_pyspark=df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2)

In [36]:
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 years|
+-------+---+----------+------------------------+
| Dharmi| 24|        10|                      12|
|  vinit| 26|         8|                      10|
|   deep| 28|         5|                       7|
|Vinayak| 29|         2|                       4|
+-------+---+----------+------------------------+

In [39]:
##Droping the columns
df_pyspark=df_pyspark.drop('Experience After 2 years')

In [40]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
| Dharmi| 24|        10|
|  vinit| 26|         8|
|   deep| 28|         5|
|Vinayak| 29|         2|
+-------+---+----------+

In [42]:
## Rename the columns
df_pyspark.withColumnRenamed('Name','Newname').show()

+-------+---+----------+
|Newname|Age|Experience|
+-------+---+----------+
| Dharmi| 24|        10|
|  vinit| 26|         8|
|   deep| 28|         5|
|Vinayak| 29|         2|
+-------+---+----------+

In [43]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [46]:
df_pyspark=spark.read.csv('test.csv',header=True,inferSchema=True)

In [48]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Dharmi|  24|        10| 30000|
|  vinit|  26|         8| 25000|
|   deep|  28|         5| 20000|
|Vinayak|  29|         2| 40000|
|   null|null|      null|  null|
|   riya|null|         4|  null|
|   null|null|      null|  2890|
|   null|  31|      null|  null|
+-------+----+----------+------+

In [50]:
##dropping columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  24|        10| 30000|
|  26|         8| 25000|
|  28|         5| 20000|
|  29|         2| 40000|
|null|      null|  null|
|null|         4|  null|
|null|      null|  2890|
|  31|      null|  null|
+----+----------+------+

In [51]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Dharmi|  24|        10| 30000|
|  vinit|  26|         8| 25000|
|   deep|  28|         5| 20000|
|Vinayak|  29|         2| 40000|
|   null|null|      null|  null|
|   riya|null|         4|  null|
|   null|null|      null|  2890|
|   null|  31|      null|  null|
+-------+----+----------+------+

In [52]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Dharmi| 24|        10| 30000|
|  vinit| 26|         8| 25000|
|   deep| 28|         5| 20000|
|Vinayak| 29|         2| 40000|
+-------+---+----------+------+

In [53]:
##any=how
df_pyspark.na.drop(how='any').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Dharmi| 24|        10| 30000|
|  vinit| 26|         8| 25000|
|   deep| 28|         5| 20000|
|Vinayak| 29|         2| 40000|
+-------+---+----------+------+

In [55]:
##threshold
df_pyspark.na.drop(how='any',thresh=1).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Dharmi|  24|        10| 30000|
|  vinit|  26|         8| 25000|
|   deep|  28|         5| 20000|
|Vinayak|  29|         2| 40000|
|   riya|null|         4|  null|
|   null|null|      null|  2890|
|   null|  31|      null|  null|
+-------+----+----------+------+

In [62]:
df_pyspark.na.drop(how='any').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Dharmi| 24|        10| 30000|
|  vinit| 26|         8| 25000|
|   deep| 28|         5| 20000|
|Vinayak| 29|         2| 40000|
+-------+---+----------+------+

In [63]:
##subset
df_pyspark.na.drop(how='any',subset=['age']).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Dharmi| 24|        10| 30000|
|  vinit| 26|         8| 25000|
|   deep| 28|         5| 20000|
|Vinayak| 29|         2| 40000|
|   null| 31|      null|  null|
+-------+---+----------+------+

In [65]:
##Filling the missing value
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|        Dharmi|  24|        10| 30000|
|         vinit|  26|         8| 25000|
|          deep|  28|         5| 20000|
|       Vinayak|  29|         2| 40000|
|Missing Values|null|      null|  null|
|          riya|null|         4|  null|
|Missing Values|null|      null|  2890|
|Missing Values|  31|      null|  null|
+--------------+----+----------+------+

In [66]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Dharmi|  24|        10| 30000|
|  vinit|  26|         8| 25000|
|   deep|  28|         5| 20000|
|Vinayak|  29|         2| 40000|
|   null|null|      null|  null|
|   riya|null|         4|  null|
|   null|null|      null|  2890|
|   null|  31|      null|  null|
+-------+----+----------+------+

In [73]:
from pyspark.ml.feature import Imputer
imputer= Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
    ).setStrategy("mean")

In [74]:
## Add imputaions cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
| Dharmi|  24|        10| 30000|         24|                10|         30000|
|  vinit|  26|         8| 25000|         26|                 8|         25000|
|   deep|  28|         5| 20000|         28|                 5|         20000|
|Vinayak|  29|         2| 40000|         29|                 2|         40000|
|   null|null|      null|  null|         27|                 5|         23578|
|   riya|null|         4|  null|         27|                 4|         23578|
|   null|null|      null|  2890|         27|                 5|          2890|
|   null|  31|      null|  null|         31|                 5|         23578|
+-------+----+----------+------+-----------+------------------+--------------+

In [75]:
from pyspark.sql import SparkSession

In [76]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [78]:
df_pyspark=spark.read.csv('test.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Dharmi|  24|        10| 30000|
|  vinit|  26|         8| 25000|
|   deep|  28|         5| 20000|
|Vinayak|  29|         2| 40000|
|   null|null|      null|  null|
|   riya|null|         4|  null|
|   null|null|      null|  2890|
|   null|  31|      null|  null|
+-------+----+----------+------+

Filter operations

In [79]:
## Salary of people less than 20000
df_pyspark.filter("Salary<=20000").show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|deep|  28|         5| 20000|
|null|null|      null|  2890|
+----+----+----------+------+

In [80]:
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+----+----+
|Name| Age|
+----+----+
|deep|  28|
|null|null|
+----+----+

In [82]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|deep|  28|         5| 20000|
|null|null|      null|  2890|
+----+----+----------+------+

In [88]:
df_pyspark.filter((df_pyspark['Salary']<=20000) &
                  (df_pyspark['Salary']>=15000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|deep| 28|         5| 20000|
+----+---+----------+------+

In [89]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Dharmi| 24|        10| 30000|
|  vinit| 26|         8| 25000|
|Vinayak| 29|         2| 40000|
+-------+---+----------+------+

Pyspark Groupby and aggregrate Funcations

In [95]:
from pyspark.sql import SparkSession

In [98]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [99]:
spark

In [101]:
df_pyspark=spark.read.csv('test.csv', header=True,inferSchema=True)

In [102]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Dharmi|  24|        10| 30000|
|  vinit|  26|         8| 25000|
|   deep|  28|         5| 20000|
|Vinayak|  29|         2| 40000|
|   null|null|      null|  null|
|   riya|null|         4|  null|
|   null|null|      null|  2890|
|   null|  31|      null|  null|
+-------+----+----------+------+

In [104]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [108]:
##Groupby
df_pyspark.groupBy('Name').sum().show()

+-------+--------+---------------+-----------+
|   Name|sum(Age)|sum(Experience)|sum(Salary)|
+-------+--------+---------------+-----------+
|   null|      31|           null|       2890|
|  vinit|      26|              8|      25000|
|Vinayak|      29|              2|      40000|
| Dharmi|      24|             10|      30000|
|   deep|      28|              5|      20000|
|   riya|    null|              4|       null|
+-------+--------+---------------+-----------+

In [109]:
##Group by experience which gives max salary
df_pyspark.groupBy('Experience').sum().show()

+----------+--------+---------------+-----------+
|Experience|sum(Age)|sum(Experience)|sum(Salary)|
+----------+--------+---------------+-----------+
|      null|      31|           null|       2890|
|         5|      28|              5|      20000|
|         4|    null|              4|       null|
|         8|      26|              8|      25000|
|        10|      24|             10|      30000|
|         2|      29|              2|      40000|
+----------+--------+---------------+-----------+

In [110]:
df_pyspark.groupBy('Experience').mean().show()

+----------+--------+---------------+-----------+
|Experience|avg(Age)|avg(Experience)|avg(Salary)|
+----------+--------+---------------+-----------+
|      null|    31.0|           null|     2890.0|
|         5|    28.0|            5.0|    20000.0|
|         4|    null|            4.0|       null|
|         8|    26.0|            8.0|    25000.0|
|        10|    24.0|           10.0|    30000.0|
|         2|    29.0|            2.0|    40000.0|
+----------+--------+---------------+-----------+

In [111]:
df_pyspark.groupBy('Experience').count().show()

+----------+-----+
|Experience|count|
+----------+-----+
|      null|    3|
|         5|    1|
|         4|    1|
|         8|    1|
|        10|    1|
|         2|    1|
+----------+-----+

In [112]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     117890|
+-----------+

In [116]:
df_pyspark.groupBy('Name').avg().show()

+-------+--------+---------------+-----------+
|   Name|avg(Age)|avg(Experience)|avg(Salary)|
+-------+--------+---------------+-----------+
|   null|    31.0|           null|     2890.0|
|  vinit|    26.0|            8.0|    25000.0|
|Vinayak|    29.0|            2.0|    40000.0|
| Dharmi|    24.0|           10.0|    30000.0|
|   deep|    28.0|            5.0|    20000.0|
|   riya|    null|            4.0|       null|
+-------+--------+---------------+-----------+